@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Noto Sans', sans-serif;
    line-height: 1.5rem;
}
main{
    margin-top: -94vh;
}
.row{
    min-height: 100vh;
}
#logo{
    padding: 1rem;
    background-color: #395bc9;
}
#nav{
    background-color: #e5e5e5 !important;
}
.topbar{
    margin-left: 1rem;
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topbar h2{
    font-size: 1.3rem;
    font-weight: 450;
    color: rgb(79, 79, 79);
}
#signout{
    color: rgb(79, 79, 79) !important;
}
#top-nav{
    display: flex;
    align-items: center;
    flex-direction: row;
}
#sidebarMenu{
    background-color: #4165e0 !important;
}
.nav .nav-item{
    margin-bottom: 1.5rem;
}
.nav-item a{
    color: white;
}
.nav-item a:active{
    border: black solid 1px;
}
.nav-item a:hover{
    color: aliceblue;
}
#interview{
    padding: 1rem;
    height: 25rem;
    border-radius: .5rem;
    background-color: #f7f7f7;
}
#interview-heading{
    font-weight: 400;
}
.card{
    height: 15rem;
    width: 17.5rem;
    margin: 0rem .5rem;
}
.top{
    margin-top: 1rem;
    display: flex;
}
.top a{
    font-size: .8rem;
    text-decoration: none;
}
.detail p{
    margin: -.3rem 0rem;
}
#bottom{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
#avatar{
    height: 75px;
    width: 75px;
    border-radius: 500rem;
    margin-right: 1rem;
}
.flex{
    margin-left: 1.2rem;
    display: flex;
    align-items: center;
}
.flex img{
    margin-right: .5rem;
    margin-top: -1rem;
}